$light-blue: #0091c4;
$blue: #0020f6;
$new-blue: #174c8f;
$orange: #ff5820;
$dark-blue: rgb(0, 17, 134);
$yellow-green: #e3f307;
$white: #fff;
$lightgrey: lightslategrey;

$bg-color: #03214d;
$red-bg: #aa0f09;
$text-bg: #01295f;
