@use "abstracts/colors" as *;
@use "abstracts/mixins" as *;

.billboard {

    &__container
    {
        background: $dark-blue url('https://www.specbee.com/themes/custom/specbee/assets/media/webp/billboard-bg-light.webp') no-repeat 50%;
        background-size: cover;
        background-blend-mode: multiply;
        width: 100%;
        height: 60vh;

    }
    &__content {
        padding: 0 20px;
        margin-bottom: 5rem;

        &__title {
        font-size: 4.0625rem;
        font-weight: 800;
        margin-bottom: 0.5rem;
        color: $white;
        padding-top: 7.8125rem;
        text-transform: uppercase;
        line-height: 1;

    }

    &__desc {
        color: $white;
        margin: 1.75rem auto;
        font-size: 1.1rem;
    }
    &__button  {
        margin-top: 4.5rem;

        &__link {
        @include button;
    }
    }

    }

}
