@use "./abstracts/colors" as *;

.testimonial {
    display: flex;
    padding: 0 20px;
    padding-top: 56px;
    padding-bottom: 84px;
    color: $white;
    margin: 20px 0;
    background: $blue;

    @media only screen and (min-width: 768px){
        padding: 0 50px;
        padding-top: 64px;
        padding-bottom: 111px;
    }
    @media only screen and (min-width: 1024px){
        padding-bottom: 152px;
    }

    @media only screen and (min-width: 1326px){
        padding-left:250px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;

        @media only screen and (min-width: 768px){
            flex-direction: column;
        }
    }
    &__icon {
        fill: $yellow-green;
        width: 80px;

        @media only screen and (min-width: 768px){
            width: 60px;
            margin-right: 20px;
    }

    @media only screen and (min-width: 1024px){
        width: 75px;
}
}
    &__cite__text p {
        font-size: 1rem;
        margin-top: 20px;
        line-height: 1.25;
        @media only screen and (min-width: 768px){
            font-size: 1.5rem;
            line-height: 1.25;
    }
    }

    &__cite__person p {
        font-size: 1.125rem;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 0;
        padding-left: 0;

        @media only screen and (min-width: 768px){
            font-size: 1.75rem;
            padding-left: 75px;
    }
    @media only screen and (min-width: 768px){
        padding-left: 90px;
}

    }

    &__cite__designation p {
        margin-top: 0;
        font-size: 0.75rem;
        padding-left: 0;

        @media only screen and (min-width: 768px){
            font-size: 1rem;
            padding-left: 75px;
    }
    @media only screen and (min-width: 768px){
        padding-left: 90px;
}
    }
}

.testimonial-secondary {
    background-color: $white;
    color: $black;
}

.testimonial-secondary__icon {
    fill: $blue;
}
