{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{{ attach_library('specbee_theme/standing-block') }}

<div class="standingout__item">
{% block paragraph %}
  {% block content %}
  <div class="standingout__img">
    {{ content.field_card_image }}
  </div>
  <div class="standingout__content">
    <h3 class="standingout__title">
      {{ content.field_card_title }}
    </h3>
    <p class="standingout__description">
      {{ content.field_card_description }}
    </p>
  </div>

  {% endblock %}
{% endblock paragraph %}
</div>
