{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
    {# {{ kint(content.field_desc_list) }} #}
            {# {{ dump ( content ) }} #}

          <div class="list">
            <li class="item">
              {{ content.field_item_text }}
            </li>
          </div>

    {% endblock %}
  </div>
{% endblock paragraph %}

