.slider {
  background-color: #0020f6;
}
.slider__heading {
  padding: 30px 30px 0px;
}
.slider__heading p {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 1rem;
  letter-spacing: 0.125rem;
}
.slider__heading p::after {
  background-color: #e3f307;
  content: "";
  display: block;
  height: 0.3125rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 5.75rem;
}
.slider__description p {
  color: #fff;
  margin: 0.15rem auto;
  font-size: 1.1rem;
  padding: 20px;
  width: 70%;
}
.slider__animated {
  width: 90vw;
  padding: 10px;
  margin-left: 65px;
}
.slider__wrapper {
  margin-top: 6rem;
  width: 100%;
  transition: width 0.55s ease-in-out;
}
.slider__button {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.slider__button__link {
  color: #0020f6;
  text-decoration: none;
  background-color: #e3f307;
  border-radius: 7px;
  padding: 10px 40px 10px 40px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  transition: all 0.25s ease-in-out;
}
.slider__button__link:hover {
  color: #e3f307;
  background-color: #0020f6;
  border: 1px solid #e3f307;
  transition: all 0.25s ease-in-out;
}

.slick-arrow::before {
  display: none;
}

.slick-list {
  transform: translate3d(0, 0, 0);
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  transition: width 0.95s ease-in-out;
}