.development {
  background-color: #0020f6;
  margin-bottom: 10px;
  padding-top: 6rem;
}
.development__heading {
  font-size: 4.0625rem;
  color: #fff;
  margin-left: 225px;
  padding-bottom: 4rem;
}
.development__heading:before {
  background-color: #e3f307;
  content: "";
  height: 0.625rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  position: absolute;
  top: 270px;
  left: 0;
  width: 10rem;
}
.development__description {
  padding-bottom: 4rem;
  max-width: 40rem;
  margin-left: 225px;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.65;
}

.development__list {
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.development__list__plus {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  justify-content: center;
  gap: 3.5rem;
}

.development__accordion {
  border-top: 0.0625rem solid #fff;
  width: 35rem;
}
.development__accordion.active .development__accordion__title::after {
  display: none;
}
.development__accordion:last-child {
  border-bottom: 0.0625rem solid #fff;
}
.development__accordion__title {
  background-color: #0020f6;
  padding: 0px 40px 0px 0;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  position: relative;
}
.development__accordion__title::before {
  background: #fff;
  content: "";
  height: 0.25rem;
  position: absolute;
  right: 0;
  top: 50%;
  transition: all 0.3s ease;
  width: 1rem;
}
.development__accordion__title::after {
  background: #fff;
  content: "";
  height: 0.25rem;
  position: absolute;
  right: 0;
  top: 50%;
  transition: all 0.3s ease;
  transform: rotate(90deg);
  width: 1rem;
}
.development__accordion__title a {
  text-decoration: none;
  color: #fff;
}
.development__accordion__content {
  overflow: hidden;
  max-height: 0;
  color: #fff;
}
.development__accordion__content.show {
  max-height: 500px;
  padding-bottom: 2.5rem;
}
.development__accordion__content p {
  font-size: 1.125rem;
  line-height: 2;
}
.development__accordion__content li {
  font-size: 1.125rem;
  line-height: 2;
}