.development__heading {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 120px;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.development__description {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}

.development__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.development__accordion {
  width: 45%;
  padding-right: 2.5rem;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 800;
  border-bottom: 1px solid #0020f6;
  border-top: 1px solid #0020f6;
  display: block;
}
.development__accordion.active {
  display: block;
}
.development__accordion.active .development__accordion__content {
  display: block;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2;
  padding-bottom: 2.5rem;
}
.development__accordion__title {
  display: inline;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.development__accordion__title a {
  text-decoration: none;
  color: #0020f6;
  font-weight: bold;
}
.development__accordion__content {
  display: none;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}

.fa-solid {
  display: inline;
}