body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.tech-card__list {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 55px;
  gap: 12%;
  background-color: #03214d;
}
.tech-card__item {
  position: relative;
  width: 44%;
  margin-bottom: 40px;
}
.tech-card__item:hover > .tech-card__description {
  display: flex;
  flex-direction: column;
  width: 89.3%;
  height: 100%;
  position: absolute;
}
.tech-card__item:hover > .tech-card__image {
  display: none;
}
.tech-card__item > .tech-card__description {
  display: none;
  transition: display 0.15s ease-in;
  color: white;
  background-color: #aa0f09;
}
.tech-card__item > .tech-card__description h3 {
  font-size: 24px;
}
.tech-card__item > .tech-card__description p {
  font-size: 14px;
}
.tech-card__content {
  border: 1px solid #aa0f09;
  background: #aa0f09;
  padding: 0px 210px;
  margin-bottom: 20px;
  bottom: 10px;
  left: 25px;
  position: absolute;
  z-index: 10;
  display: grid;
}
.tech-card__content__title {
  color: white;
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.tech-card__content__title > .fa-circle-right {
  background-color: #03214d;
}
.tech-card__link {
  background-color: #01295f;
  padding: 20px 15px;
  display: flex;
  justify-content: flex-end;
}
.tech-card__link a {
  color: #fff;
  text-decoration: none;
}
.tech-card__text {
  padding: 20px;
  flex-grow: 1;
}